{#
/**
 * @file
 * Default theme implementation to display profile.
 *
 * Available variables:
 * - foo: Foo variable description.
 *
 * @see template_preprocess_profile()
 *
 * @ingroup themeable
 * {{ devel_dump(profile) }}
 */
#}

<div class="bsky-profile row">

  <img class="banner" src="{{ banner }}" alt="banner" />

  <div class="col1 col-sm-5">
    <img class="avatar" src="{{ avatar }}" alt="Avatar" />
  </div>

  <div class="col2 col-sm-5" >
    <h2>{{ displayName }}</h2>
    <h4>{{ handle }}</h4>
    <p>{{ followers }} <a href="/user/{{ uid }}/bluesky/followers">Followers</a>&nbsp;
       {{ follows }} <a href="/user/{{ uid }}/bluesky/following">Following</a>&nbsp;
       {{ posts }} <a href="/user/{{ uid }}/bluesky/posts">Posts</a></p>
    <p>{{ description }}<p>

    <nav>
    	<a href="/user/{{ uid }}/bluesky/feed">Feed</a>&nbsp;&nbsp;
    	<a href="/user/{{ uid }}/bluesky/search">Search</a>&nbsp;&nbsp;
    	<a href="/user/{{ uid }}/bluesky/post">Post</a>&nbsp;&nbsp;&nbsp;&nbsp;
    	<a href="/user/{{ uid }}/bluesky/logout">Logout</a>
    </nav>

  </div>
</div>
